<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>index</title>
  <link rel="stylesheet" th:href="@{/css/Layout.css}">
  <link rel="stylesheet" th:href="@{/css/Table.css}">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
<div th:replace="fragments :: header-admin"></div>

<h4 class="text-center ms-5 mt-5 fw-bold">Danh sách sinh viên</h4>
<div class="card m-5">
  <div class="card-body" style="width: 70%; font-size: 14px;">
    <div class="d-flex container-fluid" style="flex: 3; ">
      <div class="d-flex mb-3 me-3 w-35" >

        <input class="form-control me-2 mb-0" id="txtSearch" type="search" placeholder="Tìm kiếm" aria-label="Search" name="keyword" th:value="${keyword}">
        <button class="btn btn-outline-success" id="btnSearch" style="font-size: 13px;" type="button">Search</button>
      </div>
      <select id="studentState" class="form-select form-select-lg mb-3 mx-3 w-15" style="font-size: 13px;">
        <option selected value="all">Trạng thái</option>
        <option value="live">Đang ở</option>
        <option value="wait">Chờ duyệt</option>
        <option value="extension">Chờ gia hạn</option>
      </select>
    </div>
  </div>
  <table id="myTable">
    <thead>
    <tr>
      <th></th>
      <th>
        CMND/CCCD
      </th>
      <th>
        <div class="d-flex align-items-center">
          <p>Họ và tên</p>
          <i href="#" class="bi bi-chevron-expand"></i>
        </div>
      </th>
      <th>
        Giới tính
      </th>
      <th>Điện thoại</th>
      <th>Ngày sinh</th>
      <th>
        <div class="d-flex align-items-center">
          <p>Phòng</p>
          <i href="#" class="bi bi-chevron-expand"></i>
        </div>
      </th>
      <th style="text-align: center">Trạng thái</th>
      <th style="text-align: center">Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr class="tr" th:each="student : ${students}">
      <td>
        <input type="checkbox">
      </td>
      <td th:text="${student.studentId}"></td>
      <td class="fw-bold" th:text="${student.studentName}"></td>
      <td th:text="${student.gender}"></td>
      <td th:text="${student.phone}"></td>
      <td th:text="${student.birthDay}"></td>
      <td th:text="${student.room.roomName}" th:value="student.room.roomId"></td>
      <td class="">
        <p class="status" th:classappend= "${student.studentState == 'wait'} ? 'wait' : (${student.studentState == 'live'} ? 'live' : 'extension')"
           th:text="${student.studentState !='live'}?'Chờ xác nhận':'Đang ở'"
           name="studentState"
           th:value="${student.studentState}"
        >
        </p>
      </td>
      <td class="view">
        <div class="action-container">
          <div class="view">
<!--            <a href="#" th:href="@{/showStudentAprovalForm/{id}/{idRoom}(id=${student.studentId},idRoom=${student.room.roomId})} ">-->
<!--              <i  class="bi bi-eye-fill"></i>-->
<!--            </a>-->

            <a href="#" th:href="@{/showStudentApprovalForm/{id}/{idRoom}(id=${student.studentId},idRoom=${student.room.roomId})} ">
              <i  class="bi bi-eye-fill"></i>
            </a>
          </div>
          <div class="add">
            <a href="#" th:href="@{/showStudentUpdateForm/{id}(id=${student.studentId})}">
              <i class="bi bi-pen-fill"></i>
            </a>
          </div>
          <div class="remove">
            <a href="#" th:href="@{/deleteStudent/{id}(id=${student.studentId})}">
              <i href="#" class="bi bi-trash-fill"></i>
            </a>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div th:replace="fragments :: footer"></div>

<script th:inline="javascript">
  $('#btnSearch').on("click",function(){
    var value = $('#txtSearch').val();
    var select = $('#studentState').val();
    $.ajax({
      method: "GET",
      url: `/studentFilterList`,
      data: {
        keyword: value,
        studentState: select
      },
      success: function(data){
        if(data){
          $(".tr").remove();
          for (var student of data) {
            $("#myTable").append(
                    `<tr class="tr">
                <td>
                  <input type="checkbox">
                </td>
                <td>${student.studentId}</td>
                <td>${student.studentName}</td>
                <td>${student.gender}</td>
                <td>${student.phone}</td>
                <td>${student.birthDay}</td>
                <td>${student.room.roomName}</td>
                <td class="">
                    <p class="status" th:classappend= "${student.studentState == 'wait'} ? 'wait' : (${student.studentState == 'live'} ? 'live' : 'extension')"
                       th:text="${student.studentState!= 'live'}?'Chờ xác nhận':'Đang ở'">
                    </p>
                </td>
                <td class="view">
                  <div class="action-container">
                    <div class="view">
                     <a href="#" th:href="@{/showStudentAprovalForm} ">
                         <i  class="bi bi-eye-fill"></i>
                      </a>
                    </div>
                    <div class="add">
                      <a href="/showStudentUpdateForm/${student.studentId}">
                        <i class="bi bi-pen-fill"></i>
                      </a>
                    </div>
                    <div class="remove">
                      <a href="/deleteStudent/${student.studentId}">
                        <i href="#" class="bi bi-trash-fill"></i>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>`
            )
          }
        }
      }
    });
  })

</script>
</body>
</html>

