<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>Cập nhật phòng</title>
  <link rel="stylesheet" th:href="@{/css/Layout.css}">
  <link rel="stylesheet" th:href="@{/css/Table.css}">
</head>
<body>
<div class="w-100 h-30 flex-column header-background">
  <div class="w-100 h-30 p-2 d-flex align-items-center">
    <img src="../img/Logo.png" width="125px">
    <nav class="navbar  ms-auto flex-row">
      <div class="flex-grow-1">
        <a class="navbar-brand navbar-element" href="#">TRANG CHỦ</a>
      </div>
      <div class="flex-grow-1">
        <a class="navbar-brand navbar-element" href="#">PHÒNG</a>
      </div>
      <div class="navbar-element dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          THÔNG TIN
        </a>
        <ul class="dropdown-menu">
          <li><a class="navbar-element" href="#">GIÁ CẢ</a></li>
          <li><a class="navbar-element" href="#">THỦ  </a></li>
        </ul>
      </div>
      <div class="flex-grow-1">
        <a class="navbar-brand navbar-element" href="#">LIÊN LẠC</a>
      </div>
      <div class="flex-grow-1">
        <a class="navbar-brand navbar-element" href="#">ĐĂNG NHẬP</a>
      </div>
    </nav>
  </div>
  <div class="w-100 h-75 d-flex flex-column justify-content-center align-items-center text-white">
    <h1>QUẢN LÝ KÝ TÚC XÁ SINH VIÊN</h1>
    <p>Được thiết kế và xây dựng bới nhóm 1- Đô một thùng</p>
  </div>
</div>



<div class="d-flex align-items-center justify-content-center w-100">
  <form class="row w-75"
        th:action="@{/updateRoom}" th:object="${room}"
        th:method="put"
  >
    <div class="col-xl-12 col-lg-12">
      <div class="card m-5 mt-3">
        <div class="card-body p-4" style="font-size: 14px;">
          <h6 class="card-title fw-bold">Cập nhật phòng</h6>
          <div class="w-80 border-bottom m-3"></div>
          <div class="row g-4">
            <input type="hidden" th:field="*{roomId}" />
            <div class="col-md-6">
              <label    class="form-label">Tên phòng</label>
              <input type="text" class="form-control"
                     th:field="*{roomName}"
                     placeholder="Nhập tên phòng" required>
            </div>

            <div class="col-md-6">
              <label class="form-label">Nhập số điện</label>
              <input type="number" class="form-control"
                     th:field="*{electricity}"
                     placeholder="Nhập số điện" required>
            </div>

            <div class="col-md-6">
              <label class="form-label">Nhập số nước</label>
              <input type="number" class="form-control"
                     th:field="*{water}"
                     placeholder="Nhập số nước" required>
            </div>

            <div class="col-md-6">
              <label class="form-label">Chọn loại phòng</label>
              <select class="form-select" name="roomType" style="font-size: 13px;">
                <option selected disabled>Loại phòng</option>
                <option th:each="roomType : ${typeRoomList}"

                        th:value="${roomType.roomTypeId}"
                        th:text="${roomType.roomTypeName}"
                        th:selected="${roomType.roomTypeId == room.roomType.getRoomTypeId()}">
                </option>
              </select>
            </div>





            <div style="text-align: center">
              <button class="btn btn-danger input-group btn-orange" style="width: 200px;" type="submit">
                Xác nhận
              </button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </form>
</div>


<div class="footer-background footer-container">
  <h5>ABOUT US</h5>
  <p>Được thiết kế và xây dựng bới nhóm 1- Đô một thùng</p>
  <div class="icon">
    <a href="#" class="bi bi-facebook"></a>
    <a href="#" class="bi bi-twitter"></a>
    <a href="#" class="bi bi-instagram"></a>
    <a href="#" class="bi bi-linkedin"></a>
  </div>
</div>



</body>
</html>