<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>index</title>
  <link rel="stylesheet" th:href="@{/css/Layout.css}">
  <link rel="stylesheet" th:href="@{/css/Table.css}">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="d-flex justify-content-center">
  <div class="w-85">
    <form class="row g-4"
          action="#" th:action="@{/updateStudent}" th:object="${student}"
          th:method="put">
      <div class="col-12">
        <div class="card m-5 mt-3 mb-4">
          <div class="card-body p-4" style="font-size: 14px;">
            <h6 class="card-title fw-bold">Thông tin cá nhân</h6>
            <div class="w-80 border-bottom m-3"></div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="row g-4">
                  <div class="col-md-3">
                    <div class="d-flex p-1">
                      <img src="../img/avatar.jpg" width="90%" style="aspect-ratio: 3/4; max-width: 134px;">
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="col-md-12">
                      <label  class="form-label">Phòng</label>
                      <input type="text" class="form-control"
                             th:field="*{room}"
                             placeholder="" >

                    </div>
                    <div class="col-md-12">
                      <label  class="form-label">Tình trạng</label>
                      <input type="text" class="form-control" value="Đang ở"
                             th:value="${student.studentState == 'wait' ? 'Chờ duyệt' : 'Đã nhận phòng'}"
                             placeholder="" >
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label  class="form-label">Email</label>
                  <input type="text" class="form-control"
                         th:field="*{email}">
                  <span class="error-span" th:if="${#fields.hasErrors('email')}"
                        th:errors="*{email}"></span>
                </div>
                <div class="col-md-12">
                  <label  class="form-label">Địa chỉ</label>
                  <input type="text" class="form-control"
                         th:field="*{address}"

                         placeholder="" >
                  <span class="error-span" th:if="${#fields.hasErrors('address')}"
                        th:errors="*{address}"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-12">
                  <label class="form-label">CCCD</label>
                  <input type="text" class="form-control"
                         th:field="*{studentId}"

                         placeholder="" >
                  <span class="error-span" th:if="${#fields.hasErrors('studentId')}"
                        th:errors="*{studentId}"></span>
                </div>
                <div class="col-md-12">
                  <label  class="form-label">Họ và tên</label>
                  <input type="text" class="form-control"
                         th:field="*{studentName}"

                         placeholder="Nhập họ và tên" >
                  <span class="error-span" th:if="${#fields.hasErrors('studentName')}"
                        th:errors="*{studentName}"></span>
                </div>
                <div class="col-md-12">
                  <label  class="form-label">Số điện thoại</label>
                  <input type="text" class="form-control"
                         th:field="*{phone}"
                         placeholder="Nhập số điện thoại" >
                  <span class="error-span" th:if="${#fields.hasErrors('phone')}"
                        th:errors="*{phone}"></span>
                </div>
                <div class="row g-4">
                  <div class="col-md-6">
                    <label class="form-label">Ngày sinh</label>
                    <input type="date" class="form-control"
                           th:field="*{birthDay}"

                           placeholder="" required>
                    <span class="error-span" th:if="${#fields.hasErrors('birthDay')}"
                          th:errors="*{birthDay}"></span>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Giới tính</label>
                    <input type="text" class="form-control"
                           th:value="${student.gender == 'male' ? 'Nam' : 'Nữ'}"
                           readonly="true"
                           placeholder="Nhập họ và tên" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12">
        <div class="card m-5 mt-3 mb-4">
          <div class="card-body p-4" style="font-size: 14px;">
            <h6 class="card-title fw-bold">Thông tin nhân thân</h6>
            <div class="w-80 border-bottom m-3"></div>
            <div class="row g-4">
              <div class="col-md-6">
                <label  class="form-label">Họ và tên</label>
                <input type="text" class="form-control"
                       th:field="*{relativeName}"
                       placeholder="Nhập họ và tên" >
                <span class="error-span" th:if="${#fields.hasErrors('relativeName')}"
                      th:errors="*{relativeName}"></span>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <label  class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control"
                           th:field="*{relativePhone}"
                           placeholder="Nhập số điện thoại" required>
                    <span class="error-span" th:if="${#fields.hasErrors('relativePhone')}"
                          th:errors="*{relativePhone}"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label  class="form-label">Địa chỉ</label>
                <input type="text" class="form-control h-78"
                       th:field="*{relativeAddress}"
                       placeholder="Nhập địa chỉ thường trú"
                       required>
              </div>
              <span class="error-span" th:if="${#fields.hasErrors('relativeAddress')}"
                    th:errors="*{relativeAddress}"></span>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <button class="btn input-group ms-5 mb-3 btn-orange" style="margin-left: 10%; width: 250px;">
            Cập nhật
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<div th:replace="fragments :: footer"></div>
</body>
</html>
